@import 'variables';

@mixin size($width: auto, $height: auto, $max-width: auto, $max-height: auto) {
    max-width: $max-width;
    max-height: $max-height;
    width: $width;
    height: $height;
}
@mixin alignJustifyItems($align: center, $justify: center) {
    align-items: $align;
    justify-content: $justify;
}
body{background-color: $neutralColor;}
*{
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace ;
    font-size: 10px;
    outline: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    box-sizing: border-box;
    :focus{
        text-decoration: none;
        outline: none;
        box-shadow: none;
        text-shadow: none;
        border: none;
    }
}
button, a, input{cursor: pointer;}
/*============================================
                POSICIONAMENTO
==============================================*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.justify-around{justify-content: space-around;}
.justify-evenly{justify-content: space-evenly;}

.align-between{align-items: space-between;}
.align-center{align-items: center;}
.align-around{align-items: space-around;}
.align-evenly{align-items: space-evenly;}

/*============================================
                    COMPONENTES
==============================================*/
.btn{
    display: flex;
    padding: 1rem;
    border-radius: .5rem;
}

.bg-win{
    background-color: $winColor;
    font-size: 3rem;
    color: $white;
}
.bg-neutral{
    background-color: $neutralColor;
    font-size: 3rem;
    color: $white;
}